%h1 ◯◯◯◯
%p Powered by Akiinyo

%ul
  = render partial: 'post_form', locals: {user: current_user, post: current_user.posts.build}

%ul
  - @posts.each do |post|
    %li
      = post.title
      = post.body
