%h1
  = @user.name

%div.span8.offset2
  = link_to 'ブログをかく', new_user_post_path(current_user), class: 'btn btn-large btn-primary'
  = link_to 'ブログ設定', new_user_profile_path(current_user), class: 'btn btn-large btn-primary'
  = link_to 'ボタン設置', new_user_button_path(current_user), class: 'btn btn-large btn-primary'
