%div.center.hero-unit
  %h1 Akiinyoブログ
  %p Simple is best

  = link_to 'ブログを始める', signup_path, class:"btn btn-small btn-primary"
  %br
  %br
  .information
    %p= link_to 'Twitterアカウントでのログイン機能追加に伴う障害についてのお詫びとご報告', portal_information_path
