.information
  %h1 Twitterアカウントでのログイン機能追加に伴う障害についてのお詫びとご報告

  %p
    このたび、Twitterアカウントでのログイン機能を追加いたしました。
    %br
    その際、既にアカウントを取得済みのユーザのメールアドレスデータを、考慮不足により削除してしまいました。
    %br
    その間、ログインできない状態が続き、ご迷惑をおかけいたしました。

  %p
    アカウントを取得済みの方は右上のログインボタンから、ユーザ名とパスワードを入力していただくことで
    %br
    今まで通りログインすることができます。
    %br
    また、ログイン状態のまま、トップページの「ブログを始める」ボタンを押し、
    %br
    Twitterアカウントでのログインを許可していただくようお願い致します。
    %br

  %P
    お手数をおかけしますが、よろしくお願い致します。

= link_to 'トップページに戻る', root_path
