@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

.hint {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.border {
  padding: 10px 30px;
  border-top: 3px solid #e8e8e8;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

/* posts */
.comments, .posts {
  list-style: none;
  margin: 10px 0 0 0;
  h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  li {
    padding: 10px 30px;
    border-top: 1px solid #e8e8e8;
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

.post {
  h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
    font-size: 15px;
  }
}

.title {
  font-size: 18px;
  font-weight:bolder;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* buttons */

.buttons {
  list-style: none;
  margin: 10px 0 20px 0;
  li {
    padding: 10px 30px;
    border-bottom: 1px solid #e8e8e8;
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}
