@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: serif;
}

textarea {
  resize: vertical;
}

.hint {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.border {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.blog_title, .my_page {
  margin-bottom: 20px;
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.information {
  margin-bottom: 20px;
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.5;
    font-size: 16px;
    font-family: serif;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}


/* posts */
.comments, .posts {
  list-style: none;
  h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  li {
    padding: 10px 30px;
    border-top: 1px solid #e8e8e8;
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1.5;
    }
  }
}

.profile {
  list-style: none;
  li {
    padding: 10px 30px;
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1.5;
    }
  }
}

.post {
  h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 50px;
    text-align: center;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1.5;
    font-size: 16px;
  }
}

.title {
  font-size: 18px;
  font-weight:bolder;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* buttons */

.buttons {
  list-style: none;
  margin-bottom: 30px;
  li {
    padding: 10px 30px;
    border-bottom: 1px solid #e8e8e8;
    span {
      display: block;
      line-height: 1.5;
    }
  }
}
