.my_page
  = render partial: 'my/header'
  = render partial: 'my/nav'

  .span6
    .my_posts
      %h2 記事一覧
      %ul
        - @posts.each do |post|
          %li
            .pull-right=l post.created_at
            = link_to post.title, edit_my_post_path(post)
      .center= paginate @posts
