%header.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      %ul.nav.pull-right
        - if signed_in?
          %li
            %i.icon-list><
            = link_to 'ブログトップ', user_posts_path(current_user)
          %li
            %i.icon-pencil><
            = link_to 'マイページ', my_path
          %li
            %i.icon-off><
            = link_to 'ログアウト', signout_path, method: 'delete'
        - else
          %li
            %i.icon-edit><
            = link_to 'ログイン', "/auth/twitter"
